.App {
    background-color: #e9c7eb;
    width: 60%;
    border-radius: 3%;
    border-color: rgb(7, 160, 207);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  